<div class="container">
<br>
  <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">      
      <input type="text" class="form-control" placeholder="Username" >
    </div>
    <button type="button" class="btn btn-primary mb-2">Search</button>
  </form>
  <br>


  <table class="table table-dark">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Journey</th>
        <th scope="col">Departure time </th>
        <th scope="col">Check</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>SJO to COl</td>
        <td>12/01/2019 : 02:00pm</td>
        <td><button type="button" class="btn btn-info">Success</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>19/03/2019 : 12:50pm</td>
        <td><button type="button" class="btn btn-info">Success</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>10/11/2019 : 22:00pm</td>
        <td><button type="button" class="btn btn-info">Success</button></td>
      </tr>
    </tbody>
  </table>
</div>