<div class="container">
    <br>
    <form>
        Flight Id
        <select #Fid class="form-control" size="1" (click)="getList_idFlight()">
          <option *ngFor="let f_id of fligth_ids">{{f_id}}</option>
        </select>
        <br>
        <button type="button" class="btn btn-primary btn-block" (click)="sendID(Fid.value)">Close</button>
    </form>
    <br>

    <div class="alert alert-{{type}} alert-dismissible fade show" role="alert" *ngIf="openB==1">
        <strong>{{msj}}</strong>{{text}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="setStateMessage()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div>