<div class="container"><br>
  <div>
    <!--Image-->
    <h3>Image of promotion: </h3>
    <img src="{{img}}" class="img" height="400" width="1200">
    <span style="color:red;" *ngIf="message">{{message}}</span>
    <input #file type="file" accept='image/*' (change)="preview(file.files)" />
  </div>

  <form>
    <div class="row justify-content-center">
        <div class="col">
            Fligth Id
        <select #Fid class="form-control" size="1" >
          <option *ngFor="let f_id of fligth_ids">{{f_id}}</option>
        </select>
     
      </div>
      <div class="col">
        Start<input #DS type="date" class="form-control" placeholder="Start Date" [value]="dateNOW" [min]="dateNOW"
          disabled>
      </div>
      <div class="col">
        End<input #DE type="date" class="form-control" placeholder="End Date" (click)="setDate(DS.value)"
          [min]="dateMIN" required>
      </div>
      <div class="col">
        Discount($)<input #D type="number" pattern="^[0-9]+" class="form-control" min="0" max="100" value="0" required>
      </div>
      <div class="col align-self-end">
        <button type="button" class="btn btn-success btn-block"
          (click)="create(Fid.value,DS.value,DE.value,D.value)">Create</button>
      </div>
    </div>
    <br>
    <div class="modal-footer" *ngIf="showMessage">
        <div style="margin:0 auto;" class="alert alert-{{type}} alert-dismissible fade show" role="alert">
          <strong>{{msj}}</strong>{{text}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
  </form>
</div>