<div class="container-fluid  grad">
  <br>

  <div class="align-self-center">
    <form>
      <div class="form-row justify-content-center">
        <div class="col-3 ">
          Username
          <input #UN type="text" class="form-control" placeholder="Username" required>
        </div>
        <div class="col-3">
          Card Number 
          <input #NCard type="text" class="form-control" required>
        </div>
        <div class="col-2">
          VCC
          <input #Vcc type="text" class="form-control" required>
        </div>
        <div class="col-2">
            Expiry Date
            <input #Exp type="date" class="form-control" required>
          </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-5" *ngIf="showMessageErrorLogin">
          <div class=" alert alert-{{type}} alert-dismissible fade show" role="alert">
            <strong>{{msj}}</strong> {{text}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="changeModeShow()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-5">
          <button class="btn btn-dark btn-block" (click)="addCard(UN.value,NCard.value,Vcc.value,Exp.value)" type="button">Add
            Card</button>
        </div>
      </div>
      <br>
    </form>
  </div>
</div>