<div class="container">
  <br>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      Deparment Airport<button type="button" class="btn btn-outline-primary btn-block"
        (click)="changeModal(0,0); getAirport()" data-toggle="modal" data-target="#modalRegistry"
        data-whatever="@mdo">{{ptD}}</button>
    </div>
    <div class="col-md-6 mb-3">
      Airport Arrival<button type="button" class="btn btn-outline-primary btn-block"
        (click)="changeModal(0,1); getAirport()" data-toggle="modal" data-target="#modalRegistry"
        data-whatever="@mdo">{{ptA}}</button>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="col">
        Flight Id
        <input #FI type="text" class="form-control" required (click)="getPlaneModel()" placeholder="Id">
      </div>
      <div class="col">
        Departure Date<input #DD type="date" class="form-control" [value]="dateNOW" [min]="dateNOW" required>
      </div>
      <div class="col">
          Departure Hour<input #DH type="time" class="form-control" step="2" required>
        </div>
      <div class="col">
        Plane Model
        <select #PM id="inputStateAirports" class="form-control" size="1">
          <option *ngFor="let mf of modelPlane">{{mf}}</option>
        </select>
      </div>
      <div class="col">
        Economic Price($)<input #EP type="number" class="form-control" min="0" value="0" placeholder="###" required>
      </div>
      <div class="col">
        First Class Price($)<input #FCP type="number" class="form-control" min="0" value="0" placeholder="###" required>
      </div>
    </div>
    <br>
    <button [disabled]="!enableSF" type="button" class="btn btn-primary btn-block"
      (click)="checkInputs(FI.value,DD.value,DH.value,PM.value,EP.value,FCP.value)">Registry</button>
    <div class="modal-footer">
      <div style="margin:0 auto;" *ngIf="showMessage" class="alert alert-{{type}} alert-dismissible fade show"
        role="alert">
        <strong>{{msj}}</strong>{{text}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </form>
</div>

<!-- Selection of Airport-->
<div class="modal fade" id="modalRegistry" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="showModal==0">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Airport</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            Airport
            <select #selection id="inputState" class="form-control" size="10">
              <option *ngFor="let ap of ap_name">{{ap}}</option>
            </select>
            <br>
            <button *ngIf="point==0" type="button" (click)="setptD(selection.value)"
              class="btn btn-outline-success btn-block" data-dismiss="modal">Select</button>
            <button *ngIf="point==1" type="button" (click)="setptA(selection.value)"
              class="btn btn-outline-success btn-block" data-dismiss="modal">Select</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>