<form *ngIf="!userCheck">
  <div class="form-row">
    <div class="form-group col-md-6">
      User name<input #UN type="text" class="form-control" id="inputEmail4" [disabled]="userCheck" required>
    </div>
    <div class="form-group col-md-6">
      Password<input #P type="password" class="form-control" id="inputPassword4" [disabled]="userCheck" required>
    </div>

  </div>
  <button (click)="logIn(UN.value,P.value)" class="btn btn-outline-dark btn-block" [disabled]="userCheck"
    type="submit">Log In</button>
</form>

<form *ngIf="userCheck">
  <div>
    <h6>Username: {{userName}}</h6>
    <button type="button" (click)="logInCard()" class="btn btn-outline-dark btn-block btn-sm">Change Acount</button>
    <br>
    <div class="form-group">
      <p>Pay By</p>
      <img src="/assets/tarjetas.png"  width="180" height="40" alt="">
    </div>
    Credit Card Number<input #Card type="text" class="form-control" required>
    <div class="row">
      <div class="col-sm">
        CVV <input #Scode type="text" class="form-control" required>
      </div>
      <div class="col-sm">
        Expiry Date<input #Exdate type="text" class="form-control" required>
      </div>
    </div>
    <br>
    <button class="btn btn-primary btn-block" (click)="pay(Card.value,Scode.value,Exdate.value)"
      type="submit">Pay</button>
    <br>
  </div>
</form>