<div class="container-fluid text-center grad">
  <br>
  <h1>Welcome to TECAirlines </h1>
  <br>
  <img src="/assets/logoTEC.png" height="180" width="260" alt="">
  <br><br>

  <div *ngIf="show_LI_SO" class="align-self-center">
    <form>
      <div class="form-row justify-content-center">
        <div class="col-3 ">
          <input #UN type="text" class="form-control" placeholder="Username" required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
        <div class="col-3 ">
          <input #PW type="password" class="form-control" placeholder="Password" required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-5">
          <button class="btn btn-dark btn-block" (click)="setStatusRegistry(UN.value,PW.value)" type="button">Log
            In</button>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-2 align-self-center">
          <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target=".signUp">Sign
            Up</button>
        </div>
      </div>

    </form>
  </div>

  <div *ngIf="!show_LI_SO" class="align-self-center">
    <form>
      <!--SALIR-->
      <div class="row justify-content-center">
        <div class="col-5">
          <button class="btn btn-dark btn-block" (click)="SignIn()" type="button">Sign
            Out</button>
        </div>
      </div>

    </form>
  </div>

  <br>

  <!-- Large modal Sign Up-->
  <div class="modal fade signUp" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        ...
      </div>
    </div>
  </div>

</div>