<div class="container-fluid text-center grad">
  <br>
  <h1>Welcome to TECAirlines </h1><br>
  <img src="/assets/logoTEC.png" height="180" width="260" alt="">
  <br><br>
  <div *ngIf="show_LI_SO" class="align-self-center">
    <form>
      <div class="form-row justify-content-center">
        <div class="col-3 ">
          <input #UN type="text" class="form-control" placeholder="Username" required>
        </div>
        <div class="col-3 ">
          <input #PW type="password" class="form-control" placeholder="Password" required>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-5" *ngIf="showMessageErrorLogin">
          <div class=" alert alert-{{type}} alert-dismissible fade show" role="alert">
            <strong>{{msj}}</strong> {{text}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="changeModeShow()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-5">
          <button class="btn btn-dark btn-block" (click)="logInAdmin(UN.value,PW.value)" type="button">Log
            In</button>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-2 align-self-center">
          <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target=".signUp">Sign
            Up</button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="!show_LI_SO" class="align-self-center">
    <form>
      <!--SALIR: Sign Out-->
      <h3>Account: {{name}}</h3>
      <div class="row justify-content-center">
        <div class="col-5">
          <button class="btn btn-dark btn-block" (click)="SignIn()" type="button">Sign
            Out</button>
        </div>
      </div>
    </form>
  </div>
  <br>
</div>
<!-- Large modal Sign Up-->
<div class="modal fade signUp" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container">
        <br>
        <div class="form-row align-items-center">
          <div class="col-3 align-self-center">
            <img src="assets/admin2.svg" alt="">
          </div>
          <div class="col-1"></div>
          <div class="col align-self-center">
            <form #heroForm>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-5">
                    Full name<input #FN type="text" class="form-control" placeholder="First name" required>
                  </div>
                  <div class="col-5 align-self-end">
                    <input #LN type="text" class="form-control" placeholder="Last name" required>
                  </div>
                </div>
                <div class="form-row ">
                  <div class="col-5">
                    Phone <input #P type="text" class="form-control" required>
                  </div>
                </div>
                <div class="form-row ">
                  <div class="col-5">
                    E-mail <input #E type="email" class="form-control" required>
                  </div>
                  <div class="col-5">
                    Rol <input #Ro type="text" class="form-control" required>
                  </div>
                </div>
                <div class="form-row ">
                  <div class="col-5">
                    Username <input #US type="text" class="form-control" required>
                  </div>
                  <div class="col-5">
                    Password <input #PW type="text" class="form-control" required>
                  </div>
                </div>
                <br>
                <div class="form-row ">
                  <div class="col-10">
                    <button class="btn btn-success btn-block"
                      (click)="registryAdmin(FN.value+' '+LN.value,P.value,E.value,US.value,PW.value,Ro.value)"
                      type="button">Sign
                      Up</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!--Message of input valided-->
      <div class="modal-footer">
        <div style="margin:0 auto;" *ngIf="showMessage" class="alert alert-{{type}} alert-dismissible fade show"
          role="alert">
          <strong>{{msj}}</strong>{{text}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="closeMessage();heroForm.reset()">Close</button>
      </div>

    </div>
  </div>
</div>
